html * {
	font-family: monospace;
	box-sizing: border-box;
	background-color: slategray;
}
h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}
#deer {
	width: 375px;
	height: 250px;
	float: right;
	margin: 0px 20px 0px 0px;
}
#intro {
	width: 70%;
}
#pasta {
	width: 200px;
	height: 200px;
	float: left;
	margin: 0px 20px 0px 20px;
}
#kunsthaus {
	width: 300px;
	height: 300px;
	float: left;
	margin: 0px 20px 0px 20px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
ul {
	font-size: 15px;
}