html * {
	font-family: monospace;
	box-sizing: border-box;
	overflow: auto;
	font-size: 16px;
}
#asia {
	background-image: url('images/Picture 3.jpg'); 
}
#europe {
	background-image: url('images/Picture 1.jpg'); 
	margin-top: 80px;
}
#africa {
	background-image: url('images/Picture 4.jpg'); 
}
#americas {
	background-image: url('images/Picture 2.jpg'); 
}
#oceania {
	background-image: url('https://www.tripsavvy.com/thmb/70hwSSVZ9EQxf86-QFVVpB7N79o=/6048x4032/filters:fill(auto,1)/GettyImages-155392801-59078aa93df78c5456eb3440.jpg'); 
}
.continent {
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
	background-repeat: no-repeat;
	opacity: 0.5;
}
.continent:hover {
	opacity: 1;
}
.firstparagraph {
	width: 50%;
	float: left;
	color: black;
    font-weight: bold;
    border-width: 4px;
    text-decoration: none;
}
.box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
.h {
	font-size: 1.2em;
    position: fixed;
    top: 0px;
    left: 3%;
    width: 150px;
    height: 50px;
    background-color: rgb(192, 192, 192);
    margin: 0px;
    color: black;
}
.text {
    font-size: 1.5em;
    padding: 0px;
    margin: 30px 70px 70px;
    text-decoration: none;
    color: black;
}
.footer {
    color: white;
    font-size: 1.5em;
    margin: 50px;
}
footer {
    background-color: black;
    border-width: 30px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
#header-nav {
    background-color: black;
    position: fixed;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 0;
    border: 0;
    height: 80px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 0px;
}
#navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px black black;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -50px;
}
.conti {
	font-size: 5em;
	margin: 0;
	padding: 70px 70px 0px;
	font-weight: bold;
}
.firstparagraph:hover {
	font-style: italic;
	color: black;
}
body {
	margin: 0;
}
@media (max-width: 765px) {
	#europe {
		height: 600px;
	}
	.navbar {
		height: 100px;
	}
	.conti {
		font-size: 3.5em;
	}
	.text {
		font-size: 1.2em;
	}
	.footer {
		margin: 0;
	}
	.contact, .social {
		width: 50%;
		float: left;
		text-align: center;
	}
	.firstparagraph {
		clear: left;
	}
	#europe, #africa, #americas, #asia, #oceania {
		background-image: none;
	}
	#europe, #africa, #americas {
		background-color: powderblue;
	}
	#asia, #oceania {
		background-color: skyblue;
	}
}
