html * {
	font-family: monospace;
	box-sizing: border-box;
	overflow: auto;
}
#asia {
	background-image: url('Picture 3.jpg'); 
}
#europe {
	background-image: url('Picture 1.jpg'); 
	margin-top: 110px;
}
#africa {
	background-image: url('Picture 4.jpg'); 
}
#americas {
	background-image: url('Picture 2.jpg'); 
}
#oceania {
	background-image: url('https://www.tripsavvy.com/thmb/70hwSSVZ9EQxf86-QFVVpB7N79o=/6048x4032/filters:fill(auto,1)/GettyImages-155392801-59078aa93df78c5456eb3440.jpg'); 
}
.continent {
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
	background-repeat: no-repeat;
	opacity: 0.5;
}
.continent:hover {
	opacity: 1;
}
.firstparagraph {
	width: 50%;
	float: left;
}
.header {
    font-size: 2em;
    color: white;
    float: left;
    margin: 0px 50px;
}
.box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
.text {
    font-size: 1.5em;
    padding: 0px;
    margin: 30px 70px 70px;
    text-decoration: none;
}
.footer {
    color: white;
    font-size: 1.5em;
    margin: 50px;
}
footer {
    background-color: black;
    border-width: 30px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
header {
    background-color: black;
    position: fixed;
    width: 100%;
    border-width: 40px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
h1 {
	font-size: 1.2em;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 3%;
    width: 150px;
    height: 40px;
    background-color: rgb(192, 192, 192);
    margin: 0px;
}
h2 {
	font-size: 5em;
	margin: 0;
	padding: 70px 70px 0px;
}
a {
	color: black;
    font-weight: bold;
    border-width: 4px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
}
a:hover {
	font-style: italic;
}
.box {
	border: 1px solid black;
}
body {
	margin: 0;
}
@media (min-width: 851px) and (max-width: 1250px) {
	.eu, .as, .oc, .am, .af, .ot {
		width: 20%;
	}
	#europe {
    	margin-top: 140px;
	}
	.oc {
		clear: left;
	}
}
@media (max-width: 850px) {
	.eu, .as, .oc, .am, .af, .ot {
	    width: 100%;
	    margin: 5px;
	    font-size: 1em;
	}
	#europe {
		margin-top: 0;
	}
	header {
    	position: relative;
	}
	h2 {
		font-size: 3.5em;
	}
	.text {
		font-size: 1.2em;
	}
	.footer {
		margin: 30px;
	}
	.firstparagraph {
		clear: left;
	}
}
