html * {
	font-family: monospace;
	box-sizing: border-box;
	overflow: auto;
	font-size: 16px;
}
#asia {
	background-image: url('Picture 3.jpg'); 
}
#europe {
	background-image: url('Picture 1.jpg'); 
}
#africa {
	background-image: url('Picture 4.jpg'); 
}
#americas {
	background-image: url('Picture 2.jpg'); 
}
#oceania {
	background-image: url('https://www.tripsavvy.com/thmb/70hwSSVZ9EQxf86-QFVVpB7N79o=/6048x4032/filters:fill(auto,1)/GettyImages-155392801-59078aa93df78c5456eb3440.jpg'); 
}
.navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    border: black solid 5px;
    border-radius: 0;
    border: 0;
    height: 80px;
}
#my-row {
	width: 100%;
	margin: 0;
}
.nav-item {
	margin: 5px;
}
#toggler {
	border: rgb(192, 192, 192) solid 1px;
	padding-right: 7px;
	padding-left: 7px;
}
#nav-list a {
	margin-top: 0px;
	font-size: 1.2em;
	text-decoration: none;
	text-align: center;
	color: gray;
}
#nav-list a:hover {
	font-style: italic;
}
ul#nav-list {
	text-align: center;
}
.continent {
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
	background-repeat: no-repeat;
	opacity: 0.5;
}
.continent:hover {
	opacity: 1;
}
.firstparagraph {
	width: 50%;
	float: left;
	color: black;
    font-weight: bold;
    border-width: 4px;
    text-decoration: none;
}
.box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
.h {
	font-size: 1.2em;
    position: fixed;
    top: 0px;
    left: 3%;
    width: 150px;
    height: 50px;
    background-color: rgb(192, 192, 192);
    margin: 0px;
    color: black;
}
.height {
	height: 80px;
}
.text {
    font-size: 1.5em;
    padding: 0px;
    margin: 30px 70px 70px;
    text-decoration: none;
    color: black;
}
.footer {
    color: white;
    font-size: 1.5em;
    margin: 50px;
}
footer {
    background-color: black;
    border-width: 30px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
.conti {
	font-size: 5em;
	margin: 0;
	padding: 70px 70px 0px;
	font-weight: bold;
}
.firstparagraph:hover {
	font-style: italic;
	color: black;
}
@media (max-width: 575px) {
	#europe {
		height: 600px;
		border-top: none;
	}
	.height {
		background-color: black;
	}
	.navbar-collapse {
		background-color: black;
		margin-top: 80px;
		margin-bottom: 0px;
	}
	.navbar-collapse .height {
		height: 0px;
	}
	.conti {
		font-size: 3.5em;
		padding: 70px 70px 0px;
	}
	.text {
		font-size: 1.2em;
	}
	.footer {
		margin: 0;
	}
	.contact, .social {
		width: 50%;
		float: left;
		text-align: center;
	}
	.firstparagraph {
		clear: left;
	}
	#europe, #africa, #americas, #asia, #oceania {
		background-image: none;
	}
	#europe, #africa, #americas {
		background-color: powderblue;
	}
	#asia, #oceania {
		background-color: skyblue;
	}
}
