@media (min-width: 992px) {
	.box {
		float:  left;
	}
	#columnOne {
		width: 31.33%;
	}
	#columnTwo {
		width: 31.33%;
	}
	#columnThree {
		width: 31.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#columnOne {
		width: 48%;
		float: left;
	}
	#columnTwo {
		width: 48%;
		float: right;
	}
	#columnThree {
		width: 98%;
		clear: both;
	}
}
@media (max-width: 767px) {
	#columnOne {
		width: 98%;
	}
	#columnTwo {
		width: 98%;
	}
	#columnThree {
		width: 98%;
	}
}
.box {
	background-color: gray;
	border: 1px solid black;
	margin: 1%;
}
* {
	font-family: monospace;
	box-sizing: border-box;
	font-size: 100%;
}
.title {
	width: 100px;
	float: right;
	text-align: center;
	margin-top: 0;
	border: 1px solid black;
	border-top: 0;
	border-right: 0;
	font-size: 1.25em;
}
#chicken {
	background-color: lightpink;
	color: white;
}
#beef {
	background-color: darkred;
	color: white;
}
#sushi {
	background-color: lightyellow;
}
h1 {
	text-align: center;
	font-size: 1.75em;
}
.text {
	margin: 50px 10px 10px 10px;
}